{
	"presets": [
		["@babel/preset-env",
			{
				"targets": [
					"defaults",
					"last 2 versions",
					"not IE 11",
					"node 14"
				]
			}
		]
	],
	"assumptions": {
		"setPublicClassFields": true
	}
}
